<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Squelette d'application symfony 5.4 + react.js!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>
        <nav><a href="/">HOME</a> </nav>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    </body>
</html>
