{% extends 'base.html.twig' %}
{% block title %}Squelette d'application{% endblock %}

{% block body %}
    <h1>Squelette d'application symfony / React.js</h1>
    <a href="{{ path('my-react-app') }}">Go to the react application</a>
{% endblock %}