{% extends 'base.html.twig' %}
{% block title %}Liste de pays{% endblock %}

{# On note le chemin vers l'appli react dans le block javascript #}
{% block javascripts %}
    {{ encore_entry_script_tags('my-react-app') }}
{% endblock %}

{% block main %}
    <h1>Liste des pays</h1>
    <div id="the-react-app">
        {# my react app will be inserted HERE! #}
    </div>
{% endblock %}